body {
  background-color: gray;
}

p {
  color: white;
  font-size: 2em;
}

#header, #footer {
  padding: 50px;
  background: #FFFFFF;
}

#quote {
  color: black;
  font-size: 2em;
}

#name {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 75px;
}

#imagedrop {
  margin-top: 70px;
  border-radius: 50%;
}

.bubble 
{
margin-top: 75px;
position: relative;
padding: 50px;
background: #FFFFFF;
-webkit-border-radius: 37px;
-moz-border-radius: 37px;
border-radius: 37px;
}

.bubble:after 
{
margin-top: 75px;
content: '';
position: absolute;
border-style: solid;
border-width: 40px 40px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -40px;
bottom: -40px;
left: 50%;
}

